.storeContainer {
	display: flex;
	flex-direction: column;
	gap: 100px;
	max-width: 964px;
	margin: 0 auto;
	padding-top: 60px;
}

.shopContainer,
.storeListContainer {
	width: 100%;
}

.emptyShop {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	height: 195px;
	border: 1px solid #e5e4e7;
	border-radius: 12px;
	width: 100%;
	grid-column: 1 / -1;
}

.title {
	font-size: 20px;
	font-weight: 700;
	color: #111322;
	margin-bottom: 16px;
}

.emptyDescription {
	font-size: 14px;
	font-weight: 400;
	color: #111322;
	line-height: 22px;
	text-align: center;
}

.subtitle {
	font-size: 20px;
	font-weight: 700;
	color: #111322;
}

.noticeList {
	margin-top: 16px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 9px;
	row-gap: 16px;
}

.noticeButton,
.shopButton {
	padding: 10px 20px;
}

@media (min-width: 768px) {
	.noticeButton,
	.shopButton {
		padding: 13px 136px;
	}
	.title,
	.subtitle {
		font-size: 28px;
		font-weight: 700;
	}
}

@media (min-width: 1024px) {
	.storeContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.noticeList {
		margin-top: 16px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 9px;
		row-gap: 16px;
	}
}
