.createContainer {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 964px;
	margin: 0 auto;
	padding-top: 60px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 24px;
}

.myCustomButton {
	height: 48px;
	margin-top: 16px;
}

.formGrid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	margin-bottom: 32px;
}

.myCustomTextareaWrapper {
	grid-column: 1 / -1;
}

.buttonGroup {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	display: flex;
}

@media (min-width: 768px) {
	.createContainer {
		gap: 32px;
	}

	.formGrid {
		grid-template-columns: 1fr 1fr;
	}

	.myCustomTextareaWrapper {
		grid-column: 1 / -1;
	}

	.buttonGroup {
		margin: 0 auto;
		width: 312px;
	}
}

@media (min-width: 1024px) {
	.formGrid {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.myCustomTextareaWrapper {
		grid-column: 1 / -1;
	}

	.buttonGroup {
		margin: 0 auto;
		width: 312px;
	}
}
